In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# Data Types

# Operation,Operator and Operends

In [2]:
#PEMDAS (Prenthisis,Exponent,Multiply,Division,Addition,Substraction)
print(8*7+3/2-4)

53.5

In [10]:
a = 7
b = 8
print(a)
print(b)

7
8

In [15]:
a = 7
type(a)

int

In [ ]:
b = 20.25
type(b)

In [16]:
c = True
type(c)

bool

In [11]:
print(id(a))
print(id(b))

#shallow copy and deep copy
#shallow copy only address of variable copy by reference for example a = ali and b = a if b is also ali
#deep copy the content of variable

140707646317136
140707646317168

In [17]:
a = 'h'
type(a)

str

In [19]:
#index   0          1    2   3    4
name = ["Hamza","Iqbal",20,True,False]
#index    -5       -4    -3  -2    -1

print(name)

#homogenious data have same data type like array
#hetrogenious data have multiple types of data like list

['Hamza', 'Iqbal', 20, True, False]

In [23]:
#index   0          1    2   3    4
name = ("Hamza","Iqbal",20,True,False) #Example of tuple
#index    -5       -4    -3  -2    -1

print(name[0])
print(name[1])
print(name[2])
type(name)

Hamza
Iqbal
20

tuple

In [26]:
name = {"Hamza","Iqbal","Hassnain","Zohaib","Hamza"} #Example of set return duplication only once
#index    -5       -4    -3  -2    -1

print(name)
type(name)

{'Hassnain', 'Zohaib', 'Hamza', 'Iqbal'}

set

In [31]:
name = {"Hamza","Iqbal","Hassnain","Zohaib","Hamza"} #Example of set return duplication only once
#index    -5       -4    -3  -2    -1
names = tuple(name)
print(names[0]) #type casting
type(names)

Hassnain

tuple

In [40]:
my_Data = {"Name":"Hamza iqbal",
        "Father_Name":"Iqbal",
        "Class" : "PIAIC AI",
        "Age":22}

print(my_Data["Name"])
type(name)

#mutable jo change ho sakta ha
#imutable jo change nahi ho sakta
#

Hamza iqbal

dict

In [44]:
#operations in memory and inline in data types
#inline only change in front end
#inmemory change real data in memory
#Shift + tab show the current available functions of current fucntion.
name1 = "HamZa IqBal"
name2 = "hamza iqbal"

print(name1 == name2)

print(id(name1))
print(id(name2))

#help(str)

dir(name1)

False
2119215625200
2119218249136

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [47]:
#Assignment perform all the string methods to string name and push it on GitHub

my_name = "Hamza iqbal"
print(my_name.upper())
print(my_name)

del my_name #release the data from the ram along with variable names

print(my_name)

HAMZA IQBAL
Hamza iqbal

NameError: name 'my_name' is not defined

In [57]:
test = "            Hamza iqbal                "
print(len(test))
print(test.title())

#Functions to clean data or any regular expressions we can use
print(test.lstrip())
print(len(test.lstrip()))
print(len(test.strip()))

39
            Hamza Iqbal
Hamza iqbal
27
11

In [59]:
_mydata = "I am student of BSCS 7th Semester from Iqra University islamabad Campus"
_mydata.find("Iqra")

39

In [69]:
#for slicing remeber three thing = strat end and step
_mydata[39:54:1] #Slicing

'Iqra University'

In [73]:
_mydata = "I am student of BSCS 7th Semester from Iqra University islamabad Campus"
b = _mydata.split("Iqra")
print(b)

['I am student of BSCS 7th Semester from ', ' University islamabad Campus']

In [83]:
_mydata = "I am student of BSCS 7th Semester from Iqra University islamabad Campus"

print(_mydata.count("Iqra University"))

1

In [84]:
_mydata = "I am student of BSCS 7th Semester from Iqra University islamabad Campus"
b = _mydata.capitalize() #only first latter is captilized
print(b)

I am student of bscs 7th semester from iqra university islamabad campus

In [85]:
_mydata = "I am student of BSCS 7th Semester"
_uni_info = "from Iqra University islamabad Campus"

#concatination with + symbol

_my_info = _mydata + _uni_info #concatination merg the string into single string

print(_my_info)

I am student of BSCS 7th Semesterfrom Iqra University islamabad Campus

In [90]:
Name = "Hamza iqbal"
Fname = "Muhammad Iqbal"
#concatination with % symbol

print("Name : %s \n Father Name : %s"%(Name,Fname))

Name : Hamza iqbal
 Father Name : Muhammad Iqbal

In [93]:
_mydata = "Hamza iqbal"
_uni_info = "Muhammad Iqbal"

#concatination with + symbol

_my_info = f'Name : {_mydata}\nFather Name : {_uni_info}'

print(_my_info)

Name : Hamza iqbal
Father Name : Muhammad Iqbal

In [97]:
_mydata = "Hamza iqbal"
_uni_info = "Muhammad Iqbal"
_uni_info_id = 28186
#concatination with + symbol

_my_info = _mydata +"\n" +_uni_info +"\n"+ str(_uni_info_id)

print(_my_info)

Hamza iqbal
Muhammad Iqbal
28186

In [98]:
"Name: {},\n Father Name: {}".format(_mydata,_uni_info)

'Name: Hamza iqbal,\n Father Name: Muhammad Iqbal'

In [100]:
"Name: {1},\n Father Name: {0}".format(_mydata,_uni_info)

'Name: Muhammad Iqbal,\n Father Name: Hamza iqbal'

In [101]:
"Name: {na},\n Father Name: {fn}".format(na = _mydata,fn = _uni_info)

'Name: Hamza iqbal,\n Father Name: Muhammad Iqbal'

In [ ]:
#tag assignment to rouf shahzad and adan